body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ca252500;
    margin: 0;
    padding: 0;
}

h1 {
    color: #070a0a;
}

form {
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    background-color: #03f4f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

/* CSS för att skapa ramar runt varje fråga och dess svarsalternativ */
form > p {
    border: 1px solid black; /* Svart ram runt varje fråga */
    border-radius: 10px; /* Rundade hörn för varje fråga */
    padding: 20px; /* Utrymme inuti varje fråga */
    margin-bottom: 20px; /* Avstånd mellan varje fråga */
}

/* Styling för svarsalternativ (checkboxes, radio buttons, textfält) */
input[type="radio"],
input[type="checkbox"],
input[type="text"],
input[type="email"] {
    margin-left: 10px; /* Justera svarsalternativens placering */
    display: inline-block; /* Visa svarsalternativen bredvid varandra */
    border: 1px solid black; /* Svart ram runt varje svarsalternativ */
    padding: 4px; /* Utrymme inuti varje svarsalternativ */
    border-radius: 4px; /* Rundade hörn för varje svarsalternativ */
    margin-bottom: 4px; /* Avstånd mellan varje svarsalternativ */
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 18px); /* Justera bredden för att rymma padding och border */
    box-sizing: border-box; /* Inkludera padding och border i elementets totala bredd */
}

.required {
    color: #d82323;
    margin-left: 5px;
    cursor: help;
    position: relative;
}
  
.required:hover::after {
    content: "This field is mandatory";
    display: block;
    position: absolute;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    top: -30px;
    left: 0;
    z-index: 1;
}
  
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #d82323;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #17da21;
    color: #100f0f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 0.8em;
}